<div id="login-span">
    <div id="login-toolbar">
    <% if current_user %>
      <a id="logout-link" href="/logout">Logout</a>
    <% else %>
      <% if !@error%>
      <a id="login-link" href="#loginmodal">Login</a>
      <a id="signup-link" href="#signup">Signup</a>
      <% end %>
    <% end %>
    </div>
</div>
